header {
  width: 100%;
  height: 7.5rem; }
  header .swiper-container {
    width: 100%;
    height: 7.5rem; }
    header .swiper-container .swiper-pagination-bullets {
      bottom: .6rem; }
      header .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:first-child {
        margin-left: 0; }
      header .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:last-child {
        margin-right: 0; }
    header .swiper-container .swiper-pagination-bullet-active {
      background: #b99c47; }
  header img {
    width: 100%;
    height: 7.12rem; }

.goods-intro {
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-top: .4rem;
  width: 82.13%;
  text-align: center; }
  .goods-intro .title {
    display: block;
    font-size: .36rem;
    color: #333; }
  .goods-intro .sub-title {
    display: block;
    margin-top: .14rem;
    font-size: .28rem;
    color: #666; }
  .goods-intro .price {
    display: block;
    margin-top: .3rem;
    margin-bottom: .5rem; }
    .goods-intro .price .actual-price {
      display: inline-block;
      margin-right: .15rem;
      font-size: .4rem;
      color: #ff3b31; }
    .goods-intro .price .origin-price {
      display: inline-block;
      font-size: .24rem;
      color: #999; }
    .goods-intro .price .delete-line {
      position: relative;
      top: .2rem;
      width: .88rem;
      height: 1px;
      background-color: #999; }

.quality-promise .condition {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  height: .6rem;
  border-bottom: 1px solid #efefef; }
  .quality-promise .condition .container {
    display: inline-block;
    width: 92%;
    border-top: 1px solid #efefef; }
    .quality-promise .condition .container .condition-info {
      display: inline-block;
      font-size: .24rem;
      color: #999;
      line-height: .6rem; }
      .quality-promise .condition .container .condition-info .round {
        display: inline-block; }
      .quality-promise .condition .container .condition-info:nth-child(2) {
        margin-left: 1.08rem;
        margin-right: 1.08rem; }

.goods-evaluate {
  display: block;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  margin-top: .6rem;
  width: 80%; }
  .goods-evaluate svg {
    width: .28rem;
    height: .28rem; }
  .goods-evaluate .left-comma {
    display: block;
    text-align: left;
    width: 100%; }
  .goods-evaluate .content {
    display: block;
    margin: 0;
    width: 100%;
    text-align: left;
    font-size: .28rem;
    color: #666; }
  .goods-evaluate .right-comma {
    display: block;
    width: 100%;
    text-align: right; }
  .goods-evaluate .fresh-evaluate {
    display: block;
    text-align: right;
    width: 100%;
    font-size: .22rem;
    color: #999; }

.standard {
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-top: .8rem;
  text-align: center;
  width: 92%; }
  .standard img {
    width: 100%; }
  .standard .dropload-img {
    width: .7rem; }

#detailImgs {
  display: block;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  padding-bottom: .91rem; }
  #detailImgs .detail-img img {
    width: 100%; }
  #detailImgs .dropload-img {
    width: .7rem; }

footer {
  position: fixed;
  display: block;
  margin: 0 auto;
  padding: 0;
  bottom: 0;
  width: 100%;
  height: .9rem;
  border-top: 1px solid #f0f0f0;
  line-height: .9rem;
  background: #fff;
  text-align: center; }
  footer .agentFee {
    width: 4.36rem;
    height: .9rem;
    float: left; }
    footer .agentFee span {
      font-size: .22rem; }
    footer .agentFee i {
      font-size: .28rem;
      font-weight: bold; }
  footer .agentState {
    width: 3.14rem;
    height: .9rem;
    font-size: .28rem;
    color: #fff;
    font-weight: bold;
    float: left; }

.QRCode {
  width: 5.6rem;
  height: 6rem;
  position: absolute;
  z-index: 2;
  border-radius: .05rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff; }

/*# sourceMappingURL=brandAgent.css.map */
