.ellipse {
  width: 1.09rem;
  height: .33rem;
  position: fixed;
  left: 3.2rem;
  bottom: .9rem;
  z-index: 2; }
  .ellipse img {
    width: 1.09rem;
    height: .33rem; }

footer {
  width: 100%;
  height: .9rem;
  position: fixed;
  bottom: 0; }
  footer li {
    width: 33.33%;
    height: .9rem;
    float: left; }
  footer .index {
    background: #fff url(../img/unchecked.png) 1.05rem bottom no-repeat;
    background-size: 5.6rem 1.25rem; }
  footer .myIncome {
    background: #fff url(../img/unchecked.png) -1.46rem bottom no-repeat;
    background-size: 5.6rem 1.25rem; }
  footer .myBrand {
    background: #fff url(../img/unchecked.png) -4rem bottom no-repeat;
    background-size: 5.6rem 1.25rem; }
  footer .indexActive {
    background: #fff url(../img/checked.png) 1.05rem bottom no-repeat;
    background-size: 5.6rem 1.25rem; }
  footer .myIncomeActive {
    background: #fff url(../img/checked.png) -1.46rem bottom no-repeat;
    background-size: 5.6rem 1.25rem; }
  footer .myBrandActive {
    background: #fff url(../img/checked.png) -4rem bottom no-repeat;
    background-size: 5.6rem 1.25rem; }

section {
  width: 100%;
  padding-top: .3rem;
  padding-left: .2rem;
  padding-right: .2rem;
  box-sizing: border-box;
  background: #ebebeb;
  padding-bottom: .9rem; }
  section dl:nth-child(odd) {
    float: left; }
  section dl:nth-child(even) {
    float: right; }
  section dl {
    width: 3.5rem;
    position: relative;
    background: #fff;
    box-sizing: border-box;
    border-bottom: .3rem solid #ebebeb; }
    section dl dt {
      width: 3.5rem;
      height: 3.5rem; }
      section dl dt img {
        width: 100%;
        height: 100%; }
    section dl dd {
      width: 3.5rem;
      height: .84rem; }
      section dl dd h4 {
        width: 2rem;
        height: .42rem;
        line-height: .6rem;
        font-size: .22rem;
        text-indent: .16rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      section dl dd div {
        height: .42rem;
        text-indent: .16rem; }
        section dl dd div span {
          display: block;
          float: left; }
        section dl dd div span:nth-child(1) {
          color: red;
          font-size: .22rem; }
        section dl dd div span:nth-child(2) {
          color: #999;
          font-size: .18rem;
          line-height: .36rem; }
    section dl .agentState {
      width: .86rem;
      height: .86rem;
      border: .03rem solid #fff;
      position: absolute;
      right: .26rem;
      bottom: .5rem;
      background: red; }
      section dl .agentState span {
        width: 100%;
        display: block;
        color: #fff;
        text-align: center; }
      section dl .agentState span:nth-child(1) {
        height: .5rem;
        font-size: .2rem;
        line-height: .7rem; }
      section dl .agentState span:nth-child(2) {
        height: .36rem;
        font-size: .16rem; }
  section .clearfloat {
    clear: both; }

/*# sourceMappingURL=index.css.map */
