body{background: #fff;}
header{
	display: block;
	width: 100%;
	height: .9rem;
	line-height: .9rem;
	text-align: center;
	background: #fff;
	z-index: 1000;
	border-bottom: 1px solid #eee;
	.left-arrow{
		svg{
			position: absolute;
			left: .29rem;
			top: .23rem;
			width: .42rem;
			height: .42rem;
		}
	}
	span{
		font-size: .36rem;
		color: #333;
	}
	#submit{
		position: absolute;
		right: .3rem;
		font-size: .36rem;
		color: #333;
	}
}
.icon{
	display: block;
	margin: .8rem auto 0 auto;
	padding: 0;
	text-align: center;
	svg{
		width: .8rem;
		height: .8rem;
	}
}
.text{
	display: block;
	padding: 0;
	text-align: center;
	span{
		display: block;
	    font-size: .32rem;
	    color: #333;
	    &:nth-child(2){
            display: inline-block;
            margin-top: .6rem;
            width: 4.35rem;
	        font-size: .28rem;
	        color: #999;
	    }	
	}
	.good{
		display: block;
		font-size: .26rem;
		color: #999;
	}
	.money{
		@extend .good;
	}
}
.button{
	display: block;
	margin: .8rem auto 0 auto;
	padding: 0;
	width: 6.9rem;
	height: .9rem;
	line-height: .9rem;
	background: #ff3b31;
	text-align: center;
	span{
		font-size: .34rem;
		color: #fff;
	}
}